@import "tailwindcss";


html{
  scroll-behavior:smooth;
}
body{
  margin:0;
  padding:0;
  background:black;
  color:white;
  font-family:'Poppins', sans-serif;
}
/* HERO CINEMATIC ANIMATION */



  .hero-image{
  animation: heroAnimation 18s ease-in-out infinite alternate;
  will-change: transform;
}
@keyframes heroAnimation{

  0%{
    transform:
    scale(1)
    translateY(0px);
  }

  50%{
    transform:
    scale(1.08)
    translateY(-10px);
  }

  100%{
    transform:
    scale(1.15)
    translateY(0px);
  }
}



.cloud{
  position:absolute;
  border-radius:999px;
  background:rgba(255,255,255,0.12);
  filter:blur(40px);
}

/* CLOUD 1 */

.cloud1{
  width:300px;
  height:100px;

  top:10%;
  left:0;

  animation:cloud1 35s linear infinite;
}

/* CLOUD 2 */

.cloud2{
  width:250px;
  height:80px;

  top:40%;
  left:-10%;

  animation:cloud2 45s linear infinite;
}

/* CLOUD 3 */

.cloud3{
  width:350px;
  height:120px;

  top:70%;
  left:-5%;

  animation:cloud3 60s linear infinite;
}

/* ANIMATIONS */

@keyframes cloud1{

  from{
    transform:translateX(-400px);
  }

  to{
    transform:translateX(1600px);
  }
}

@keyframes cloud2{

  from{
    transform:translateX(-500px);
  }

  to{
    transform:translateX(1600px);
  }
}

@keyframes cloud3{

  from{
    transform:translateX(-600px);
  }

  to{
    transform:translateX(1600px);
  }
}


.particles{
  position:absolute;
  inset:0;
  z-index:10;
  overflow:hidden;
  pointer-events:none;
}

.particles span{
  position:absolute;
  bottom:-20px;

  width:4px;
  height:4px;

  background:white;
  border-radius:50%;

  opacity:0.6;

  animation:particleMove linear infinite;
}

/* RANDOM POSITIONS */

.particles span:nth-child(1){
  left:10%;
  animation-duration:12s;
  width:3px;
  height:3px;
}

.particles span:nth-child(2){
  left:20%;
  animation-duration:18s;
}

.particles span:nth-child(3){
  left:35%;
  animation-duration:10s;
  width:5px;
  height:5px;
}

.particles span:nth-child(4){
  left:50%;
  animation-duration:15s;
}

.particles span:nth-child(5){
  left:65%;
  animation-duration:20s;
}

.particles span:nth-child(6){
  left:75%;
  animation-duration:13s;
  width:2px;
  height:2px;
}

.particles span:nth-child(7){
  left:85%;
  animation-duration:17s;
}

.particles span:nth-child(8){
  left:95%;
  animation-duration:11s;
}

@keyframes particleMove{

  from{
    transform:
    translateY(0)
    scale(1);

    opacity:0;
  }

  20%{
    opacity:0.7;
  }

  to{
    transform:
    translateY(-110vh)
    scale(1.5);

    opacity:0;
  }
}

.navbar{

  background:
  rgba(0,0,0,0.25);

  backdrop-filter:
  blur(14px);

  border-bottom:
  1px solid rgba(255,255,255,0.08);

  transition:
  all 0.4s ease;

  box-shadow:
  0 0 30px rgba(0,0,0,0.2);
}

/* NAV LINKS */

.navbar a{
  position:relative;
}

/* GREEN UNDERLINE EFFECT */

.navbar a::after{

  content:"";

  position:absolute;

  left:0;
  bottom:-6px;

  width:0%;
  height:2px;

  background:#22c55e;

  transition:0.4s;
}

.navbar a:hover::after{
  width:100%;
}

/* HOVER GLOW */

.navbar a:hover{

  color:#22c55e;

  text-shadow:
  0 0 12px rgba(34,197,94,0.8);
}

.birds{

  position:absolute;
  inset:0;

  z-index:11;

  overflow:hidden;

  pointer-events:none;
}

.bird{

  position:absolute;

  font-size:28px;

  opacity:0.7;

  animation-timing-function:linear;
  animation-iteration-count:infinite;
}

/* BIRD 1 */

.bird1{

  top:18%;
  left:-10%;

  animation:
  flyBird1 22s linear infinite;
}

/* BIRD 2 */

.bird2{

  top:28%;
  left:-15%;

  font-size:22px;

  animation:
  flyBird2 28s linear infinite;
}

/* BIRD 3 */

.bird3{

  top:12%;
  left:-20%;

  font-size:18px;

  animation:
  flyBird3 35s linear infinite;
}

/* ANIMATIONS */

@keyframes flyBird1{

  from{

    transform:
    translateX(0)
    translateY(0);
  }

  to{

    transform:
    translateX(140vw)
    translateY(-40px);
  }
}

@keyframes flyBird2{

  from{

    transform:
    translateX(0)
    translateY(0);
  }

  to{

    transform:
    translateX(150vw)
    translateY(20px);
  }
}

@keyframes flyBird3{

  from{

    transform:
    translateX(0)
    translateY(0);
  }

  to{

    transform:
    translateX(160vw)
    translateY(-20px);
  }
}

@media(max-width:768px){

  .bird{

    font-size:18px;
    opacity:0.5;
  }

  .bird3{

    display:none;
  }
}

